* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

html {
    font-family: 'Cormorant Garamond', serif;
}

/* fonts */
.title {
    font-size: 30px;
}

.regular {
    font-size: 18px;
}

.mini-title {
    font-size: 20px;
    color: white;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.tac {
    text-align: center;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gray-hr {
    width: 90%;
    height: 1px;
    background-color: gray;
    margin: 0 auto;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo a {
    text-decoration: none;
    font-size: 26px;
    color: black;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo-icons a {
    color: black;
    font-size: 18px;
    padding-left: 20px;
    transition-duration: .6s;
}

.logo-icons a:hover {
    font-size: 22px;
}

/* main */
.main {

}
/* row 1 */
.main-row1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-row1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 35%;
    height: 500px;
}

.main-row1-right {
    width: 50%;
    height: 500px;
    background: url('./images/main1.jpg') no-repeat;
    background-size: 100%;
}

.gray-btn {
    width: 150px;
    height: 50px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .7s;
}

.gray-btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.gray-btn a {
    text-decoration: none;
    color: gray;
}

/* row 2 */
.main-row2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-row2-left {
    width: 35%;
    height: 500px;
    background: url('./images/main2.jpg') no-repeat;
    background-size: 100%;
}

.main-row2-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
    height: 500px;
}

/* row 3 */
.main-row3 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-row3-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
    height: 500px;
}

.main-row3-right {
    width: 35%;
    height: 500px;
    background: url('./images/main3.jpg') no-repeat;
    background-size: 100%;
}

/* gallery */
.gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.gallery-row {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery-row-item1 {
    width: 33vw;
    height: 240px;
    background: url('./images/main1.jpg');
    background-size: 100%;
}

.gallery-row-item2 {
    width: 33vw;
    height: 240px;
    background: url('./images/main2.jpg');
    background-size: 100%;
}

.gallery-row-item3 {
    width: 33vw;
    height: 240px;
    background: url('./images/main3.jpg');
    background-size: 100%;
}

.hidden-container {
    width: 33vw;
    height: 240px;
    opacity: 0;
    transition-duration: .8s;
}

.hidden-container:hover {
    opacity: 1;
    cursor: pointer;
}

.hiddent-content {
    width: 33vw;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.hiddent-content .regular {
    padding-left: 20px;
    padding-right: 20px;
}

.gray-btn-white {
    width: 100px;
    height: 40px;
    border: 2px solid white;
    transition-duration: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray-btn-white a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.gray-btn-white:hover {
    transform: scale(1.3);
}

/* features */
.features {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.features-container-item1 {
    width: 28vw;
    height: 250px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.features-container-item1 a {
    font-size: 50px;
    color: black;
}

.features-container-item1 a:hover {
    animation-name: rotateicon;
    animation-duration: 2s;
}

@keyframes rotateicon {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}

.features-container-item2 {
    width: 28vw;
    height: 250px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.features-container-item2 a {
    font-size: 50px;
    color: black;
}

.features-container-item2 a:hover {
    animation-name: rotateicon;
    animation-duration: 2s;
}

.features-container-item3 {
    width: 28vw;
    height: 250px;
    border-bottom: 1px solid gray;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.features-container-item3 a {
    font-size: 50px;
    color: black;
}

.features-container-item3 a:hover {
    animation-name: rotateicon;
    animation-duration: 2s;
}

.features-container-item4 {
    width: 28vw;
    height: 250px;
    border-right: 1px solid gray;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.features-container-item4 a {
    font-size: 50px;
    color: black;
}

.features-container-item4 a:hover {
    animation-name: rotateicon;
    animation-duration: 2s;
}

.features-container-item5 {
    width: 28vw;
    height: 250px;
    border-right: 1px solid gray;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.features-container-item5 a {
    font-size: 50px;
    color: black;
}

.features-container-item5 a:hover {
    animation-name: rotateicon;
    animation-duration: 2s;
}

.features-container-item6 {
    width: 28vw;
    height: 250px;
    
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.features-container-item6 a {
    font-size: 50px;
    color: black;
}

.features-container-item6 a:hover {
    animation-name: rotateicon;
    animation-duration: 2s;
}

/* features grid */

.features-container {
    width: 96vw;
    display: grid;
    grid-template-areas:
    'feat1 feat2 feat3'
    'feat4 feat5 feat6';
    margin: 0 auto;
}

.features-container-item1 {
    grid-area: feat1;
}

.features-container-item2 {
    grid-area: feat2;
}

.features-container-item3 {
    grid-area: feat3;
}

.features-container-item4 {
    grid-area: feat4;
}

.features-container-item5 {
    grid-area: feat5;
}

.features-container-item6 {
    grid-area: feat6;
}

/* write to us */
.write-to-us {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.write-to-us-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    width: 80vw;
    height: 400px;
}

.write-to-us-container input {
    outline: 0;
}

.write-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write-row1-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20vw;
}

.write-row3-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.write-row4-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.write-row4-item textarea {
    width: 100%;
    height: 100px;
}

.write-row5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-gray-btn {
    width: 100px;
    height: 30px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .7s;
}

.send-gray-btn a {
    text-decoration: none;
    color: gray;
}

.send-gray-btn:hover {
    transform: scale(1.3);
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-icon {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon:hover {
    cursor: pointer;
    animation-name: rotateicon;
    animation-duration: 2s;
}

.footer-icon a {
    font-size: 20px;
    color: gray;
}

.footer-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}