* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

html {
    font-family: 'Cormorant Garamond', serif;
}

/* fonts */
.title {
    font-size: 30px;
}

.regular {
    font-size: 18px;
}

.mini-title {
    font-size: 20px;
    color: white;
}

.white {
    color: white;
}

.tac {
    text-align: center;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gray-hr {
    width: 90%;
    height: 1px;
    background-color: gray;
    margin: 0 auto;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo a {
    text-decoration: none;
    font-size: 26px;
    color: black;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.logo-icons a {
    color: black;
    font-size: 18px;
    padding-left: 20px;
    transition-duration: .6s;
}

.logo-icons a:hover {
    font-size: 22px;
}

/* main */
.main {

}
/* row 1 */
.main-row1 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-row1-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 35%;
    height: 500px;
}

.main-row1-right {
    width: 50%;
    height: 500px;
    background: url('./images/main1.jpg') no-repeat;
    background-size: 100%;
}

.gray-btn {
    width: 150px;
    height: 50px;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .7s;
}

.gray-btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.gray-btn a {
    text-decoration: none;
    color: gray;
}

/* row 2 */
.main-row2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-row2-left {
    width: 35%;
    height: 500px;
    background: url('./images/main2.jpg') no-repeat;
    background-size: 100%;
}

.main-row2-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
    height: 500px;
}

/* row 3 */
.main-row3 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-row3-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
    height: 500px;
}

.main-row3-right {
    width: 35%;
    height: 500px;
    background: url('./images/main3.jpg') no-repeat;
    background-size: 100%;
}

/* gallery */
.gallery {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.gallery-row {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.gallery-row-item1 {
    width: 33vw;
    height: 240px;
    background: url('./images/main1.jpg');
    background-size: 100%;
}

.gallery-row-item2 {
    width: 33vw;
    height: 240px;
    background: url('./images/main2.jpg');
    background-size: 100%;
}

.gallery-row-item3 {
    width: 33vw;
    height: 240px;
    background: url('./images/main3.jpg');
    background-size: 100%;
}

.hidden-container {
    width: 33vw;
    height: 240px;
    opacity: 0;
    transition-duration: .8s;
}

.hidden-container:hover {
    opacity: 1;
    cursor: pointer;
}

.hiddent-content {
    width: 33vw;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.hiddent-content .regular {
    padding-left: 20px;
    padding-right: 20px;
}

.gray-btn-white {
    width: 100px;
    height: 40px;
    border: 2px solid white;
    transition-duration: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray-btn-white a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.gray-btn-white:hover {
    transform: scale(1.3);
}